

<!-- Hero avec image de fond -->
<section
  class="position-relative text-center text-white mb-5" *ngIf="imagePreview"
  
>
  <img [src]="imagePreview" [alt]="'Bannière de ' + imagePreview" class="img-fluid w-100 " 
style="object-fit: cover; height: 600px;"> 

  <div
    class="position-absolute top-0 start-0 end-0 bottom-0"
    style="background: rgba(0,0,0,0.4);"
  ></div>
  <div
    class="position-relative d-flex align-items-center justify-content-center h-100"
  >
    <h1 class="fw-bold">Modification de la  formation</h1>
  </div>
</section>

<div class="container mb-5">
  <h2 class="h5 mb-4">Création de formation</h2>
  <form [formGroup]="formation" (ngSubmit)="onSubmit()"  class="row g-3">

    <!-- Titre -->
    <div class="col-md-6">
      <label for="titre" class="form-label">Titre</label>
      <input
        type="text"
        id="titre"
        name="titre"
        class="form-control"
        required
        formControlName="titre"
      />
    </div>

    <!-- Catégorie -->
    <div class="col-md-6">
      <label for="categorie" class="form-label">Catégorie</label>
      <select
        id="categorie"
        name="categorie"
        class="form-select"
        required
        formControlName="categorieid"
        
      >
        <option value="" disabled selected>Choisissez…</option>
        <option *ngFor="let c of categories" value={{c.id}} >{{ c.nom }}</option>
      </select>
    </div>

    <!-- Date de début -->
    <!-- <div class="col-md-4">
      <label for="dateDebut" class="form-label">Date de début</label>
      <input
        type="date"
        id="dateDebut"
        name="dateDebut"
        class="form-control"
        required
        formControlName="dateDebut"
      />
    </div> -->

    <!-- Durée -->
    <div class="col-md-4">
      <label for="duree" class="form-label">Durée</label>
      <input
        type="text"
        id="duree"
        name="duree"
        class="form-control"
        placeholder="ex. 3 mois"
        required
        formControlName="duree"
      />
    </div>

    <!-- Prix -->
    <div class="col-md-4">
      <label for="prix" class="form-label">Prix</label>
      <input
        type="text"
        id="prix"
        name="prix"
        class="form-control"
        placeholder="ex. 25 000 F"
        required
        formControlName="prix"
      />
    </div>

    <!-- Description -->
    <div class="col-12">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
  <ngx-editor [editor]="editor" formControlName="description" class="custom-editor"></ngx-editor>
      <!-- <label for="description" class="form-label">Description</label>
      <textarea
        id="description"
        name="description"
        rows="4"
        class="form-control"
        required
        formControlName="description"
      ></textarea> -->
    </div>

    <!-- Image -->
    <div class="col-md-6">
      <label for="image" class="form-label">Image</label>
      <input
        type="file"
        id="image"
        name="image"
        class="form-control"
        accept="image/*"
        (change)="onFileSelected($event)"
      />
    </div>

    <!-- Statut -->
    

    <!-- Bouton Enregistrer -->
    <div class="col-12 d-flex gap-2">
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="formation.invalid"
      >
        Enregistrer
      </button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Annuler</button>
    </div>
  </form>
</div>

