
<main>
    <!-- Hero : vraie image, full‑width, height fixe, object‑fit -->
    <!-- <img
      [src]="data.image"
      [alt]="'Bannière de ' + data.titre"
      class="w-100"
      style="height: 300px; object-fit: cover;"
    /> -->
  <img [src]="data?.image" [alt]="'Bannière de ' + data?.image" class="img-fluid w-100 " 
style="object-fit: cover; height: 600px;"> 
    <div class="container py-5">
      
      <!-- Titre -->
      <h2 class="fw-bold mb-3">{{ data?.titre }}</h2>
  
      <!-- Sous‑titre orange -->
      <h5 class="text-warning mb-3">Description de l’article :</h5>
  
      <!-- Contenu -->
      <p class="text-muted mb-4" class="wysiwyg-content" [innerHTML]="data?.contenu"></p>
  
      <!-- Bouton retour -->
      <a routerLink="/blog" class="btn btn-warning px-4">
        ← Retour aux articles
      </a>
    </div>
  </main>



